<nz-form-label *ngIf="config.label" [nzSpan]="config.labelSize" [nzRequired]="config.isRequired">
    {{config.label}}
</nz-form-label>
<nz-form-control [formGroup]="formGroup" [nzSpan]="config.controlSize">
    <nz-input-group nzAddOnAfterIcon="{{config.addOnAfterIcon}}" nzAddOnBeforeIcon="{{config.addOnBeforeIcon}}"
        [nzCompact]="false" [nzSize]="'default'" [nzSuffix]="suffixTemplate" [nzPrefixIcon]="config.perfix">
        <input nz-input #scanInput [ngClass]="{scan : true}" type="{{config.inputType}}" autofocus="{{config.autofocus}}"
            formControlName="{{config.name}}" [nzSize]="config.size" placeholder="{{config.placeholder}}"
            disabled="{{config.disabled}}" [(ngModel)]="_value" (keyup)="onKeyPress($event)"
            (ngModelChange)="initLoadValue($event)" />
    </nz-input-group>
    <nz-form-extra *ngIf="config.explain">{{config.explain}}</nz-form-extra>
    <nz-form-explain
        *ngIf="formGroup.get(config.name).dirty && formGroup.get(config.name).errors || formGroup.get(config.name).pending ">
        <ng-container *ngFor="let valid of config.validations">
            <span style="margin-top:3px"
                *ngIf="formGroup.get(config.name).hasError(valid.validator.toLowerCase())">{{valid.errorMessage}}</span>
        </ng-container>
    </nz-form-explain>
</nz-form-control>
<ng-template #suffixTemplate>
    <i nz-icon type="close-circle" theme="fill" (click)="model=null" *ngIf="model"></i>
</ng-template>