<nz-form-label [nzSpan]="config.labelSize">
  {{config.label}}
</nz-form-label>

<nz-form-control [formGroup]="formGroup" [nzSpan]="config.controlSize">
  <ng-container *ngIf="config.Checkable">
    <nz-tree-select 
      formControlName="{{config.name}}"
      nzCheckable [nzNodes]="treeData" 
      nzPlaceHolder="{{config.placeholder}}"
      [(ngModel)]="_selectedValue" 
      nzMultiple="{{config.multiple}}" 
      (ngModelChange)="valueChange($event)">
    </nz-tree-select>
  </ng-container>
    <ng-container *ngIf="!config.Checkable">
        <nz-tree-select 
          formControlName="{{config.name}}"
          [nzNodes]="treeData" 
          nzPlaceHolder="{{config.placeholder}}"
          [(ngModel)]="_selectedValue" 
          nzMultiple="{{config.multiple}}" 
          (ngModelChange)="valueChange($event)">
        </nz-tree-select>
  </ng-container>
</nz-form-control>