<div class="container">
    <div class="wrap">
        <div class="top">
            <div class="head">
                <a [routerLink]="['/']">
                    <!-- <img class="logo" src="./assets/img/logo-color.svg"> -->
                    <span class="login_title">西安航天动力测控技术研究所</span>
                </a>
            </div>
            <div class="login_desc h3">质量数据包管理系统</div>
        </div>
        <router-outlet></router-outlet>
        <global-footer [links]="links">
            Copyright <i class="anticon anticon-copyright"></i> 2017 <a href="#" target="_blank"> 四川久远银海软件股份有限公司 </a> 出品
        </global-footer>
    </div>
</div>
