<div class="container">
    <div class="wrap">
        <div class="top">
            <div class="head">
                <a [routerLink]="['/']">
                    <img class="logo" src="./assets/img/zorro.svg">
                    <span class="login_title">{{title}}</span>
                </a>
            </div>
            <div class="login_desc">{{subTitle}}</div>
        </div>
        <router-outlet></router-outlet>

    </div>
    <global-footer [links]="links">
            Copyright <i class="anticon anticon-copyright"></i> {{year}} <a href="#" target="_blank"> {{company}} </a> 出品
        </global-footer>
</div>
