

<nz-layout>
  <nz-content>
<div nz-row nzGutter="8" style="position:relative;">
  <div nz-col nzSpan="16" nzOffset="4">
      <nz-steps class="steps-header" [nzCurrent]="_current" [nzSize]="config.size">
          <nz-step
          *ngFor="let step of config.steps"
          [nzTitle]="step.title"
          [nzDescription]="step.desc"
          [nzIcon]="step.icon"
          >
          </nz-step>
      </nz-steps>
  </div>

  <!-- <ng-template #progressTemplate let-dot let-status="status" let-index="index">
    <nz-popover>
      <span nz-popover >
        <ng-template [ngTemplateOutlet]="dot"></ng-template>
      </span>
    </nz-popover>
  </ng-template> -->
 
  <div class="steps-content">
    <cn-component-resolver [config]="stepConfig" [initData]="initValue" *ngFor="let stepConfig of viewCfg" (updateValue)="handleStep($event)"></cn-component-resolver>
  </div>

  <div class="steps-action" style="position:fixed;width: 100%">
    <div nz-col nzSpan="24">
      <nz-button-group>
          <button *ngIf="config.rollback" (click)="backTo()" nz-button><i nz-icon type="rollback"></i> {{config.rollbacktext ? config.rollbacktext : '返回'}}</button>    
          <button nzSize="default" nz-button nzType="default" (click)="pre()" *ngIf="_current > 0">
            <span><i nz-icon type="arrow-left"></i> {{config.beforetext ? config.beforetext : '上一步'}}</span>
          </button>
          <button nz-button nzType="default" (click)="next()" *ngIf="_current < config.steps.length-1">
            <span>{{config.nexttext ? config.nexttext : '下一步'}} <i nz-icon type="arrow-right"></i></span>
          </button>
          <button nz-button nzType="primary" (click)="done()" *ngIf="config.finish"> 
              <!-- *ngIf="_current === config.steps.length" -->
              <span><i nz-icon type="save" *ngIf="config.finish"></i> {{config.finishtext ? config.finishtext : '完成'}}</span>
            </button>
      </nz-button-group>
    </div>
  </div>
  
</div>
</nz-content>
</nz-layout>
<!--<ng-template #progressTemplate let-dot let-status="status" let-index="index">-->
    <!--<nz-popover nzContent="steps {{index}} status: {{status}}">-->
        <!--<span nz-popover style="margin-left: -100%;">-->
          <!--&lt;!&ndash;<ng-template [ngTemplateOutlet]="dot"></ng-template>&ndash;&gt;-->
             <!--<nz-avatar [nzText]="1" nzSize="large" [ngStyle]="{'background-color':color}" style="vertical-align: middle;"></nz-avatar>-->
        <!--</span>-->
    <!--</nz-popover>-->
<!--</ng-template>-->



