<page-header [title]="'配置使用说明'"></page-header>
<nz-card>
    <textarea style="visibility: hidden" #CodeMirror name="code">
# api功能说明文档

## 一、common控制器
> 实现对表资源、SQL脚本资源、code资源的调用

### (一)、GET请求
> 进行数据库的查询操作，即 [select]

	路由格式: /common/资源名
	说明: 查询指定资源的数据集合
	返回值: 数据集合

	路由格式: /common/资源名/资源id
	说明: 查询指定资源和id的数据对象
	返回值: 数据对象

	路由格式: /common/counter/资源名
	说明: 查询指定资源的数据量
	返回值: 数据的总数量

	路由格式: /common/父资源名/父资源id或父资源筛选条件/子资源名
	说明: 查询指定父资源下对应的子资源数据集合
	返回值: 数据集合

	路由格式: /common/counter/父资源名/父资源id或父资源筛选条件/子资源名
	说明: 查询指定父资源下对应的子资源数据量
	返回值: 数据的总数量

	路由格式: /common/counter/资源名/资源id或资源筛选条件/资源名
	说明: 递归查询指定资源的数据
	返回值: 数据集合

	路由格式: /common/values/资源名/属性名
	说明: 查询指定资源的字段的数据字典值集合
	返回值: 数据集合

	路由格式: /common/action/资源名/方法名
	说明: 执行指定资源中的业务方法
	返回值: 不定，一般返回传入的数据

	路由格式: /common/codeUri.../...
	说明: 执行指定的业务方法
	返回值: 不定，一般返回传入的数据

#### 1. 内置功能参数
> 系统内置，在api地址中使用
> 可以根据实际需求，将功能参数进行任意组合使用

##### (1). 字段查询
	_select: 指定返回的查询结果的属性，默认为全部查询；多个用,分隔
	_resultType: 指定返回的查询结果值的方式，默认值为anonymous
	_split: 指定返回的查询结果值间的分隔符，和_resultType搭配使用才有效果

> _resultType的值包括:

	值: anonymous
	说明: 即默认值，对查询结果没有影响

	值: keyValues
	说明: 查询结果的值，以key=value的形式返回，其中=可以通过_split指定，默认为=

	值: strings
	说明: 查询结果的每个对象的所有值，通过,连接成一个字符串返回，其中,可以通过_split指定，默认为,

	值: text
	说明: 查询结果的所有对象的所有值，通过,和\n连接成一个字符串返回，其中,可以通过_split指定，默认为,

##### (2). 分页查询
	_limit: 指定一次限制显示多少行
	_start: 指定开始的行数

	_rows: 指定一页显示多少行
	_page: 指定第几页

> 两种分页查询方式，任意选择一种调用
> _limit + _start 的优先级高于 _rows + _page

##### (3). id聚焦
	_focusedId: 数据通过该参数传递到后台后，后台会原封不动再传出来

> 该参数一般和分页查询搭配使用。目前系统也只支持该参数和分页查询搭配使用

##### (4). 递归查询
	_recursive: 标识是否递归查询，值为true、false。如果不传值，默认为false
	_deep: 递归查询的深度，默认为2。值为-1，标识递归查询到底

> 递归查询出来的数据集合，会自动挂接到其父级的对象中，属性名为"children"

##### (5). 查询排序
	_sort: 指定查询结果根据哪些属性排序，以及排列的顺序。多个属性排序，用,分隔开

> 示例: ?_sort=age ASC, createDate DESC
> 相应的SQL: ORDER BY age ASC, create_date DESC

##### (6). 父子关联查询
	_simpleModel: 是否以简单模式进行父子查询，值为true、false。如果不传值，默认为false
	_refPropName: 指定子资源的属性中，关联父资源id的属性名，默认值为parentId。只有_simpleModel=true时才有效

> ① 父子关联第一种方式是: 子资源的某个属性，关联父资源id。属于_simpleModel=true，这时需要指定_refPropName的值，系统会自动组装对应的SQL语句。如下:
```
SELECT sub_columns FROM sub_resource WHERE _refPropName = parent_resource_id
```

> ② 父子关联第二种方式是: 通过关系表关联父子资源，属于_simpleModel=false，这时需要通过关系表查询子资源数据。如下:
```
SELECT sub_columns FROM sub_resource s, relation_resource r
        WHERE s.Id = r.rightId AND r.leftId = parent_resource_id
```
> 目前系统中更多的都是使用第二种方式

##### (7). 子列表查询
	_subResourceName: 指定子资源的名称
	_refPropName: 指定子资源的属性中，关联父资源id的属性名，默认值为parentId
	_subSort: 指定子资源的排序规则，使用方式和_sort相同

> 查询出来的子资源集合，会自动挂接到查询结果的对象中，属性名为"children"

##### (8). 查询条件
> 任何查询结果中涉及到的属性，都可以作为查询条件
> 示例: ?name=哈哈&age=23
> 相应的SQL: where name = '哈哈' and age = 23
> 对于相对复杂的条件，系统还提供了以下内置的条件函数

	函数名: btn/between
	函数功能: 区间查询
	支持取反: 否
	示例: ?date=btn('2018-1','2018-2')
	相应的SQL: WHERE date BETWEEN '2018-1' AND '2018-2'

	函数名: ctn/contains
	函数功能: 模糊查询
	支持取反: 是
	示例: ?name=ctn('%哈哈')
	相应的SQL: WHERE name LIKE '%哈哈'

	函数名: in/any
	函数功能: 批量查询
	支持取反: 是
	示例: ?id=in(1,2,3)
	相应的SQL: WHERE id IN ('1','2','3')

	函数名: eq
	函数功能: 等于
	支持取反: 是
	示例: ?name=eq(哈哈)
	相应的SQL: WHERE name = '哈哈'

	函数名: ne
	函数功能: 不等于
	支持取反: 是
	示例: ?name=ne(哈哈)
	相应的SQL: WHERE name != '哈哈'

	函数名: ge
	函数功能: 大于或等于
	支持取反: 否
	示例: ?age=ge(20)
	相应的SQL: WHERE age >= 20

	函数名: gt
	函数功能: 大于
	支持取反: 否
	示例: ?age=gt(20)
	相应的SQL: WHERE age > 20

	函数名: le
	函数功能: 小于或等于
	支持取反: 否
	示例: ?age=le(20)
	相应的SQL: WHERE age <= 20

	函数名: lt
	函数功能: 小于
	支持取反: 否
	示例: ?age=lt(20)
	相应的SQL: WHERE age < 20

> ① 取反的关键字为"!"，例如: ?id=!in(1,2,3)，相应的SQL为: WHERE id NOT IN ('1','2','3')
> ② 查询条件的值，如果包含特殊字符，可以通过''或""包裹起来，系统内部会过滤掉每个值最外层的一对''或""

### (二)、POST请求
> 进行数据库的保存操作，即 [insert]

	路由格式: /common/资源名
	说明: 保存指定资源的数据对象
	返回值: 被保存的数据对象

	路由格式: /common/codeUri.../...
	说明: 执行指定的业务方法
	返回值: 不定，一般返回传入的数据

### (三)、PUT请求
> 进行数据库的修改操作，即 [update]

	路由格式: /common/资源名
	说明: 修改指定资源的数据对象
	返回值: 被修改的数据对象

	路由格式: /common/codeUri.../...
	说明: 执行指定的业务方法
	返回值: 不定，一般返回传入的数据

### (四)、DELETE请求
> 进行数据库的删除操作，即 [delete]

	路由格式: /common/资源名
	说明: 删除指定资源的数据对象
	返回值: 被删除的数据id集合

	路由格式: /common/codeUri.../...
	说明: 执行指定的业务方法
	返回值: 不定，一般返回传入的数据

> 参数: ?_ids=要删除的数据id，多个用,分隔

## 二、file控制器
> 实现对文件的操作

### (一)、GET请求
> 进行文件下载操作，即 [download]

	路由格式: /file/download
	说明: 下载文件
	返回值: 下载的文件【支持批量下载】

> 参数: ?_ids=要下载的文件数据id，多个用,分隔

### (二)、POST请求
> 进行文件上传操作，即 [upload]

	路由格式: /file/upload
	说明: 上传文件
	返回值: 被保存的文件数据对象

### (三)、DELETE请求
> 进行文件删除操作，即 [delete]

	路由格式: /file/delete
	说明: 删除文件
	返回值: 被删除的文件数据id集合

> 参数: ?_ids=要删除的文件数据id，多个用,分隔

========================================================================================================================
# api功能说明文档

## 一、系统管理

### (一)、登陆

- 功能描述: 登陆系统
- api地址: /common/login
- 请求类型: POST
- 请求头: 无
- 请求url参数: 无
- 请求体:
```
{
  "loginName":"developer",				  --登录名
  "loginPwd":"1"					  --登陆密码
}
```

### (二)、退出

- 功能描述: 退出系统
- api地址: /common/login_out
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体: 无

### (三)、用户管理

> 资源名: SysUser

#### 1. 添加用户

- 功能描述: 添加一条用户信息 【支持批量操作】
- api地址: /common/user/add
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "nikeName":"",                             --昵称
  "realName":"",                             --真实姓名
  "age":"",                                  --年龄
  "sex":"",                                  --性别，0女1男
  "officePhone":"",                          --办公电话
  "tel":"",                                  --手机号
  "email":"",                                --邮箱
  "workAddr":"",                             --办公地点
  "liveAddr":"",                             --居住地点
  "idCardNo":"",                             --身份证号码
  "employedDate":"",                         --入职时间
  "userStatus":"",                           --人员状态:0:其他(默认)、1.在职、2.离职、3.休假
  "monthSalar":"",                           --月薪
  "workNo":"",                               --工号
  "secretLevel":"",                          --密级
  "descs":"",                                --描述
  "deptId":"",                               --部门id
  "positionId":"",                           --岗位id
  "isCreateAccount":""                       --是否创建账户信息，1是0否
}
```
- 备注: 如果创建账户，则账户登录名为工号(workNo)，初始密码为1

#### 2. 修改用户

- 功能描述: 修改一条用户信息
- api地址: /common/user/update
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                   --主键
  "nikeName":"",                             --昵称
  "realName":"",                             --真实姓名
  "age":"",                                  --年龄
  "sex":"",                                  --性别，0女1男
  "officePhone":"",                          --办公电话
  "tel":"",                                  --手机号
  "email":"",                                --邮箱
  "workAddr":"",                             --办公地点
  "liveAddr":"",                             --居住地点
  "idCardNo":"",                             --身份证号码
  "employedDate":"",                         --入职时间
  "userStatus":"",                           --人员状态:0:其他(默认)、1.在职、2.离职、3.休假
  "monthSalar":"",                           --月薪
  "workNo":"",                               --工号
  "secretLevel":"",                          --密级
  "descs":"",                                --描述
  "deptId":"",                               --部门id
  "positionId":"",                           --岗位id
  "isCreateAccount":""                       --是否创建账户信息，1是0否
}
```

#### 3. 删除用户

- 功能描述: 删除一条用户信息，同时会删除关联的账户信息 【支持批量操作】
- api地址: /common/user/delete
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

#### 4. 开通账户

- 功能描述: 给指定的用户开通一个对应的账户，用户即可通过账户登陆系统 【支持批量操作】
- api地址: /common/user/open_account
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":""                                               --主键
}
```

#### 5. 修改用户登陆密码

- 功能描述: 修改用户关联的账户的登陆密码
- api地址: /common/user/update_pwd
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                              --主键
  "password":""                                         --新密码
}
```

### (四)、账户管理

> 资源名: SysAccount

#### 1. 添加账户

- 功能描述: 添加一条账户信息 【支持批量操作】
- api地址: /common/account/add
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "loginName":"",                                    --登录名
  "loginPwd":"",                                     --登陆密码
  "tel":"",                                          --电话号码
  "email":"",                                        --邮箱
  "type":"",                                         --账户类型: 1.管理员、2.普通(默认)、3.开发者
  "status":"",                                       --账户状态: 1.启用(默认)、2.禁用
  "validDate":""                                     --有效期
}
```

#### 2. 修改账户

- 功能描述: 修改一条账户信息
- api地址: /common/account/update
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                           --主键
  "loginName":"",                                    --登录名
  "tel":"",                                          --电话号码
  "email":"",                                        --邮箱
  "type":"",                                         --账户类型: 1.管理员、2.普通(默认)、3.开发者
  "status":"",                                       --账户状态: 1.启用(默认)、2.禁用
  "validDate":""                                     --有效期
}
```

#### 3. 删除账户

- 功能描述: 删除一条账户信息 【支持批量操作】
- api地址: /common/account/delete
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

#### 4. 修改账户登陆密码

- 功能描述: 修改账户的登陆密码
- api地址: /common/account/update_pwd
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                              --主键
  "password":""                                         --新密码
}
```

### (五)、角色管理

> 资源名: SysRole

#### 1. 添加角色

- 功能描述: 添加一条角色信息 【支持批量操作】
- api地址: /common/SysRole
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "name":"",                                            --角色名
  "code":"",                                            --角色编码
  "descs":"",                                           --角色描述
  "orderCode":1,                                        --排序
  "isEnabled":""                                        --是否启用: 1是0否
}
```

#### 2. 修改角色

- 功能描述: 修改一条角色信息
- api地址: /common/SysRole
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                              --主键
  "name":"",                                            --角色名
  "code":"",                                            --角色编码
  "descs":"",                                           --角色描述
  "orderCode":1,                                        --排序
  "isEnabled":""                                        --是否启用: 1是0否
}
```

#### 3. 删除角色

- 功能描述: 删除一条角色信息 【支持批量操作】
- api地址: /common/SysRole
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

### (六)、权限管理

> 资源名: SysPermission

#### 1. 添加权限

- 功能描述: 添加一条权限信息 【支持批量操作】
- api地址: /common/SysPermission
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "refDataId":"",                --关联的数据id：比如角色id，帐号id，部门id，岗位id等
  "refDataType":"",              --关联的数据类型：角色role，帐号account，部门dept，岗位position
  "refResourceId":"",            --关联的资源id: 比如某个模块的id，某个功能的id等
  "refResourceCode":"",          --关联的资源code，与refResourceId数据对应的code，是全项目唯一
  "refParentResourceId":"",      --关联的父资源id，同refResourceId
  "refParentResourceCode":"",    --关联的父资源code，同refResourceCode
  "refResourceType":"",          --关联的资源类型：1:模块module、2:tab、3:功能oper  等
  "isVisibility":"",             --是否可见(是否可读): 1是0否
  "isOper":""                    --是否可操作(是否可写): 1是0否
}
```

#### 2. 修改权限

- 功能描述: 修改一条权限信息
- api地址: /common/SysPermission
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                       --主键
  "refDataId":"",                --关联的数据id：比如角色id，帐号id，部门id，岗位id等
  "refDataType":"",              --关联的数据类型：角色role，帐号account，部门dept，岗位position
  "refResourceId":"",            --关联的资源id: 比如某个模块的id，某个功能的id等
  "refResourceCode":"",          --关联的资源code，与refResourceId数据对应的code，是全项目唯一
  "refParentResourceId":"",      --关联的父资源id，同refResourceId
  "refParentResourceCode":"",    --关联的父资源code，同refResourceCode
  "refResourceType":"",          --关联的资源类型：1:模块module、2:tab、3:功能oper  等
  "isVisibility":"",             --是否可见(是否可读): 1是0否
  "isOper":""                    --是否可操作(是否可写): 1是0否
}
```

#### 3. 删除权限

- 功能描述: 删除一条权限信息 【支持批量操作】
- api地址: /common/SysPermission
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

### (七)、组织管理

> 资源名: SysOrg

#### 1. 添加组织

- 功能描述: 添加一条组织信息 【支持批量操作】
- api地址: /common/SysOrg
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "parentId":"",                                        --父组织主键
  "name":"",                                            --组织名
  "shortName":"",                                       --组织简称
  "code":"",                                            --组织编码
  "orderCode":1                                         --排序
}
```

#### 2. 修改组织

- 功能描述: 修改一条组织信息
- api地址: /common/SysOrg
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                              --主键
  "parentId":"",                                        --父组织主键
  "name":"",                                            --组织名
  "shortName":"",                                       --组织简称
  "code":"",                                            --组织编码
  "orderCode":1                                         --排序
}
```

#### 3. 删除组织

- 功能描述: 删除一条组织信息 【支持批量操作】
- api地址: /common/SysOrg
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

### (八)、部门管理

> 资源名: SysDept

#### 1. 添加部门

- 功能描述: 添加一条部门信息 【支持批量操作】
- api地址: /common/SysDept
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "orgId":"",                                          --所属组织主键，可为空
  "parentId":"",                                       --父部门主键
  "name":"",                                           --部门名
  "shortName":"",                                      --部门简称
  "code":"",                                           --部门编码
  "orderCode":1                                        --排序
}
```

#### 2. 修改部门

- 功能描述: 修改一条部门信息
- api地址: /common/SysDept
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                             --主键
  "orgId":"",                                          --所属组织主键，可为空
  "parentId":"",                                       --父部门主键
  "name":"",                                           --部门名
  "shortName":"",                                      --部门简称
  "code":"",                                           --部门编码
  "orderCode":1                                        --排序
}
```

#### 3. 删除部门

- 功能描述: 删除一条部门信息 【支持批量操作】
- api地址: /common/SysDept
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

### (九)、职务管理

> 资源名: SysPosition

#### 1. 添加职务

- 功能描述: 添加一条职务信息 【支持批量操作】
- api地址: /common/SysPosition
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "name":"",                                            --职务名
  "code":"",                                            --职务编码
  "descs":"",                                           --职务描述
  "orderCode":1                                         --排序
}
```

#### 2. 修改职务

- 功能描述: 修改一条职务信息
- api地址: /common/SysPosition
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                              --主键
  "name":"",                                            --职务名
  "code":"",                                            --职务编码
  "descs":"",                                           --职务描述
  "orderCode":1                                         --排序
}
```

#### 3. 删除职务

- 功能描述: 删除一条职务信息 【支持批量操作】
- api地址: /common/SysPosition
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

### (十)、文件/附件管理

> 资源名: SysFile

#### 1. 上传文件

- 功能描述: 上传一条文件/附件信息，系统会保存文件到服务器中，并在数据库中记录一条信息 【支持批量操作】
- api地址: /file/upload
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "refDataId":"",                                       --关联的业务数据主键
  "batch":"",                                           --批次，标识同一次上传的文件
  "file_1":"",                                          --上传的第一个文件
  "secretLevel_1":"",                                   --上传第一个文件的密级
  ...
  "file_x":"",                                          --上传的第x个文件
  "secretLevel_x":""                                    --上传第x个文件的密级
}
```

#### 2. 删除文件

- 功能描述: 删除一条文件/附件信息，系统会同时删除服务器上的文件和数据库中的文件信息数据 【支持批量操作】
- api地址: /file/delete
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无


#### 3. 下载文件

- 功能描述: 下载文件/附件，一次下载多个文件时，系统会自动压缩为.zip格式 【支持批量操作】
- api地址: /file/download
- 请求类型: GET
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

### (十一)、数据字典管理

> 资源名: SysDataDictionary

#### 1. 添加数据字典

- 功能描述: 添加一条数据字典信息 【支持批量操作】
- api地址: /common/SysDataDictionary
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "code":"",                                            --编码
  "parentId":"",                                        --父编码主键(可为空)
  "caption":"",                                         --显示的文本
  "val":"",                                             --后台操作的值(value)
  "orderCode":1,                                        --排序值
  "isEnabled":1,                                        --是否有效: 1是0否
  "comments":""                                         --备注
}
```

#### 2. 修改数据字典

- 功能描述: 修改一条数据字典信息
- api地址: /common/SysDataDictionary
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                              --主键
  "code":"",                                            --编码
  "parentId":"",                                        --父编码主键(可为空)
  "caption":"",                                         --显示的文本
  "val":"",                                             --后台操作的值(value)
  "orderCode":1,                                        --排序值
  "isEnabled":1,                                        --是否有效: 1是0否
  "comments":""                                         --备注
}
```

#### 3. 删除数据字典

- 功能描述: 删除一条数据字典信息 【支持批量操作】
- api地址: /common/SysDataDictionary
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

## 二、配置系统管理

### (一)、数据库信息管理

> 资源名: CfgDatabase

#### 1. 添加数据库

- 功能描述: 添加一条数据库信息 【支持批量操作】
- api地址: /common/database/add
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "displayName":"",                                     --数据库汉字名
  "type":"",                                            --数据库类型
  "instanceName":"",                                    --数据库实例名
  "loginUserName":"",                                   --数据库登陆帐号
  "loginPassword":"",                                   --数据库登陆密码
  "ip":"",                                              --数据库ip
  "port":""                                             --数据库端口
}
```

#### 2. 修改数据库

- 功能描述: 修改一条数据库信息
- api地址: /common/database/update
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                              --主键
  "displayName":"",                                     --数据库汉字名
  "type":"",                                            --数据库类型
  "instanceName":"",                                    --数据库实例名
  "loginUserName":"",                                   --数据库登陆帐号
  "loginPassword":"",                                   --数据库登陆密码
  "ip":"",                                              --数据库ip
  "port":""                                             --数据库端口
}
```

#### 3. 删除数据库

- 功能描述: 删除一条数据库信息 【支持批量操作】
- api地址: /common/database/delete
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

#### 4. 测试数据库连接

- 功能描述: 测试系统是否能连接上指定的数据库
- api地址: /common/database/test_link
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":""                                               --主键
}
```

### (二)、项目信息管理

> 资源名: ComProject

#### 1. 添加项目

- 功能描述: 添加一条项目信息 【支持批量操作】
- api地址: /common/project/add
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "refDatabaseId":"",                                   --关联的数据库id
  "projName":"",                                        --项目名称
  "projCode":"",                                        --项目编码
  "descs":""                                            --项目描述
}
```

#### 2. 修改项目

- 功能描述: 修改一条项目信息
- api地址: /common/project/update
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                              --主键
  "refDatabaseId":"",                                   --关联的数据库id
  "projName":"",                                        --项目名称
  "projCode":"",                                        --项目编码
  "descs":""                                            --项目描述
}
```

#### 3. 删除项目

- 功能描述: 删除一条项目信息 【支持批量操作】
- api地址: /common/project/delete
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

### (三)、项目模块管理

> 资源名: ComProjectModule

#### 1. 添加项目模块

- 功能描述: 添加一条项目模块信息 【支持批量操作】
- api地址: /common/project_module/add
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "parentId":"",                                        --父模块主键
  "name":"",                                            --模块名
  "code":"",                                            --模块编码，项目唯一
  "url":"",                                             --模块url
  "icon":"",                                            --模块图标
  "orderCode":1                                         --排序值
}
```

#### 2. 修改项目模块

- 功能描述: 修改一条项目模块信息
- api地址: /common/project_module/update
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                              --主键
  "parentId":"",                                        --父模块主键
  "name":"",                                            --模块名
  "code":"",                                            --模块编码，项目唯一
  "url":"",                                             --模块url
  "icon":"",                                            --模块图标
  "orderCode":1                                         --排序值
}
```

#### 3. 删除账户

- 功能描述: 删除一条账户信息 【支持批量操作】
- api地址: /common/project_module/delete
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

### (四)、表信息管理

> 资源名: ComTabledata

#### 1. 添加表

- 功能描述: 添加一条表信息 【支持批量操作】
- api地址: /common/table/add
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "name":"",                                            --表的汉字名
  "tableName":"",                                       --表名
  "comments":""                                         --注释
}
```

#### 2. 修改表

- 功能描述: 修改一条表信息
- api地址: /common/table/update
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                              --主键
  "name":"",                                            --表的汉字名
  "tableName":"",                                       --表名
  "comments":""                                         --注释
}
```

#### 3. 删除表

- 功能描述: 删除一条表信息 【支持批量操作】
- api地址: /common/table/delete
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

#### 4. 表建模

- 功能描述: 在数据库中create表，并根据表的信息，在系统中自动生成相应的增删改查api 【支持批量操作】
- api地址: /common/table/build_model
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":""                                               --主键
}
```

### (五)、列信息管理

> 资源名: ComColumndata

#### 1. 添加列

- 功能描述: 添加一条列信息 【支持批量操作】
- api地址: /common/column/add
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "tableId":"",                                          --关联的表主键
  "name":"",                                             --列的汉字名
  "columnName":"",                                       --列名
  "columnType":"",                                       --字段数据类型:
                        字符串: string、布尔值: boolean、整型: integer、浮点型: double
                        日期: date、字符大字段: clob、二进制大字段: blob
  "length":"",                                           --字段长度
  "precision":"",                                        --数据精度
  "defaultValue":"",                                     --默认值
  "isUnique":"",                                         --是否唯一: 1是0否
  "isNullabled":"",                                      --是否可为空: 1是0否
  "isDataDictionary":"",                                 --是否数据字典: 1是0否
  "dataDictionaryCode":"",                               --数据字典编码
  "orderCode":1,                                         --排序
  "comments":""                                          --注释
}
```

#### 2. 修改列

- 功能描述: 修改一条列信息 【支持批量操作】
- api地址: /common/column/update
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                               --主键
  "tableId":"",                                          --关联的表主键
  "name":"",                                             --列的汉字名
  "columnName":"",                                       --列名
  "columnType":"",                                       --字段数据类型:
                        字符串: string、布尔值: boolean、整型: integer、浮点型: double
                        日期: date、字符大字段: clob、二进制大字段: blob
  "length":"",                                           --字段长度
  "precision":"",                                        --数据精度
  "defaultValue":"",                                     --默认值
  "isUnique":"",                                         --是否唯一: 1是0否
  "isNullabled":"",                                      --是否可为空: 1是0否
  "isDataDictionary":"",                                 --是否数据字典: 1是0否
  "dataDictionaryCode":"",                               --数据字典编码
  "orderCode":1,                                         --排序
  "comments":""                                          --注释
}
```

#### 3. 删除列

- 功能描述: 删除一条列信息 【支持批量操作】
- api地址: /common/column/delete
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

### (六)、sql脚本管理

> 资源名: ComSqlScript

#### 1. 添加sql脚本

- 功能描述: 添加一条sql脚本信息 【支持批量操作】
- api地址: /common/sql/add
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "sqlScriptCaption": "",                               --sql脚本汉字名
  "sqlScriptResourceName": "",                          --sql脚本资源名称
  "sqlScriptContent": "",                               --sql脚本内容
  "isAnalysisParameters":""                             --是否解析参数: 1是0否
}
```

#### 2. 修改sql脚本

- 功能描述: 修改一条sql脚本信息
- api地址: /common/sql/update
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                              --主键
  "sqlScriptCaption": "",                               --sql脚本汉字名
  "sqlScriptResourceName": "",                          --sql脚本资源名称
  "sqlScriptContent": "",                               --sql脚本内容
  "isAnalysisParameters":""                             --是否解析参数: 1是0否
  "isImmediateCreate":""                                --是否立即创建存储过程、视图等
}
```

#### 3. 删除sql脚本

- 功能描述: 删除一条sql脚本信息 【支持批量操作】
- api地址: /common/sql/delete
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无

### (七)、sql脚本参数管理

> 资源名: ComSqlScriptParameter

#### 1. 添加sql脚本参数

- 功能描述: 添加一条sql脚本参数信息 【支持批量操作】
- api地址: /common/sql_parameter/add
- 请求类型: POST
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "parameterName":"",                                   --参数名
  "length":"",                                          --参数的值长度
  "parameterDataType":"",                               --参数值的数据类型
                字符串: string、布尔值: boolean、整型: integer、浮点型: double、日期: date
  "defaultValue":"",                                    --默认值
  "orderCode":1                                         --排序
}
```

#### 2. 修改sql脚本参数

- 功能描述: 修改一条sql脚本参数信息
- api地址: /common/sql_parameter/update
- 请求类型: PUT
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数: 无
- 请求体:
```
{
  "Id":"",                                              --主键
  "parameterName":"",                                   --参数名
  "length":"",                                          --参数的值长度
  "parameterDataType":"",                               --参数值的数据类型
                字符串: string、布尔值: boolean、整型: integer、浮点型: double、日期: date
  "defaultValue":"",                                    --默认值
  "orderCode":1                                         --排序
}
```

#### 3. 删除sql脚本参数

- 功能描述: 删除一条sql脚本参数信息 【支持批量操作】
- api地址: /common/sql_parameter/delete
- 请求类型: DELETE
- 请求头:
```
{
  "_token":"5k7f1ef06728y6016f9d10e91dcr1d37"           --登录时返回的token值
}
```
- 请求url参数:
```
?_ids=5k7f1ef06728y6016f9d10e91dcr1d39, ...             --主键，多个用,分隔
```
- 请求体: 无


    </textarea>
    <div id="result"></div>
</nz-card>







