<nz-form-control [formGroup]="formGroup" [nzSpan]="config.controlSize" style="display:none" > <!-- style="display:none"  type="hidden" -->
    <input nz-input (ngModelChange)="valueChange($event)" formControlName="{{config.name}}"  type="{{config.inputType}}"  placeholder="{{config.placeholder}}"
        [(ngModel)]="_value">
</nz-form-control>
 <ng-container *ngIf="config !== undefined">
    <cn-bsn-static-table #table [config]="config.select.datagrid"  (updateValue)="valueChangeTable($event)" ></cn-bsn-static-table>
</ng-container> 