<nz-form-label *ngIf="config.label" [nzSpan]="config.labelSize" [nzRequired]="config.isRequired">
    {{config.label}}
</nz-form-label>
<nz-form-control [formGroup]="formGroup" [nzSpan]="config.controlSize">
    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="suffixTemplate"
        nzAddOnAfterIcon="{{config.addOnAfterIcon}}" nzAddOnBeforeIcon="{{config.addOnBeforeIcon}}" [nzCompact]="false"
        [nzSize]="config.size" [nzPrefixIcon]="config.perfix" nzSearch>
        <!--  [nzAddOnAfter]="suffixTemplate"-->
        <ng-container *ngIf="this.select === '0'">
            <input nz-input (blur)="onblur($event,'end')" type="{{config.inputType}}"
                formControlName="{{config.name}}" [nzSize]="config.size" placeholder="{{config.placeholder}}"
                disabled="{{config.disabled}}" readonly [(ngModel)]="model" (keyup)="onKeyPress($event)" />
        </ng-container>
        <ng-container *ngIf="this.select !== '0'">
            <input nz-input (blur)="onblur($event,'end')" type="{{config.inputType}}"
                formControlName="{{config.name}}" [nzSize]="config.size" placeholder="{{config.placeholder}}"
                disabled="{{config.disabled}}" [(ngModel)]="model" (keyup)="onKeyPress($event)" />
        </ng-container>
    </nz-input-group>
    <nz-form-extra *ngIf="config.explain">{{config.explain}}</nz-form-extra>
    <nz-form-explain
        *ngIf="formGroup.get(config.name).dirty && formGroup.get(config.name).errors || formGroup.get(config.name).pending ">
        <ng-container *ngFor="let valid of config.validations">
            <span style="margin-top:3px"
                *ngIf="formGroup.get(config.name).hasError(valid.validator.toLowerCase())">{{valid.errorMessage}}</span>
        </ng-container>
    </nz-form-explain>
</nz-form-control>
<ng-template #addOnBeforeTemplate>
    <nz-select [(ngModel)]="select">
        <ng-container *ngFor="let option of selectoptions">
            <nz-option [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
        </ng-container>
    </nz-select>
</ng-template>
<ng-template #suffixTemplate>
    <button nz-button nzSearch nzType="primary" (click)="showModal()">获取</button>
</ng-template>
<button nz-button nzType="primary" *ngIf="config.showButton" (click)="submit($event,'end')">提交</button>