<nz-spin [nzSpinning]="loading" [nzTip]="'正在等待检测结果，请稍后...'">
<nz-card [nzBodyStyle]="config.style ? config.style : {}" [nzTitle]="title" [nzBordered]="config.border ? config.border : false">
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="3">
          连接状态
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="21">
        <input nz-input formControlName="connStatus"
               placeholder=""/>
               <nz-form-extra></nz-form-extra>
      </nz-form-control>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-control [formGroup]="form">
          <button nz-button nzType="primary" nzBlock="true" style="height:40px;font-size:16px" (click)="getProgramParams()">开始检测</button>
                 <nz-form-extra></nz-form-extra>
        </nz-form-control>
        </div>
      <div nz-col nzSpan="6">
      <nz-form-control [formGroup]="form">
        <button nz-button nzType="dashed" nzBlock="true" style="height:40px;font-size:16px" (click)="beginConnectionSocket()">重新连接</button>
               <nz-form-extra></nz-form-extra>
      </nz-form-control>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <nz-form-label nzSpan="3">
          产品码
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="21">
        <input nz-input formControlName="singleCode"/>
          <nz-form-extra></nz-form-extra>
          <!-- <nz-form-explain
              *ngIf="formGroup.get('singlecode').dirty && formGroup.get('scanCode').errors || formGroup.get('scanCode').pending ">
              <ng-container *ngFor="let valid of config.validations">
                  <span style="margin-top:3px" *ngIf="formGroup.get('scanCode').hasError(valid.validator.toLowerCase())">{{valid.errorMessage}}</span>
              </ng-container>
          </nz-form-explain> -->
      </nz-form-control>
      <nz-form-control [formGroup]="form">
        <input nz-input formControlName="Id" hidden="true"/>
      </nz-form-control>
      </div>
    </div>
    <!--测试信息-->
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="6">
          测试模式
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="18">
        <input nz-input formControlName="TestMode"/>
          <nz-form-extra></nz-form-extra>
      </nz-form-control>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="6">
          测试模式
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="18">
        <input nz-input formControlName="Delay"/>
          <nz-form-extra></nz-form-extra>
      </nz-form-control>
      </div>
    </div>
    <!--测试信息-->
    <!--充气-->
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="6">
          充气压力
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="18">
        <input nz-input formControlName="Fill"/>
               <nz-form-extra></nz-form-extra>
      </nz-form-control>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="6">
          充气时间
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="18">
        <input nz-input formControlName="FillTime"/>
               <nz-form-extra></nz-form-extra>
      </nz-form-control>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="6">
          充气上限
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="18">
        <input nz-input formControlName="FillUpper"/>
               <nz-form-extra></nz-form-extra>
      </nz-form-control>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="6">
          充气下限
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="18">
        <input nz-input formControlName="FillLower"/>
               <nz-form-extra></nz-form-extra>
      </nz-form-control>
      </div>
    </div>
    <!--充气-->
    <!--稳定-->
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="6">
          稳压压力
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="18">
        <input nz-input formControlName="ResultStabilisation"/>
               <nz-form-extra></nz-form-extra>
      </nz-form-control>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="6">
          稳定时间
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="18">
        <input nz-input formControlName="Stabilisation"/>
      </nz-form-control>
      </div>
    </div>
    <!--稳定-->
    <!--排气-->
    <div nz-row [nzGutter]="24">
      
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="6">
          排气压力
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="18">
        <input nz-input formControlName="ResultVent"/>
        <nz-form-extra></nz-form-extra>
      </nz-form-control>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="6">
          排气时长
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="18">
        <input nz-input formControlName="VentTime"/>
        <nz-form-extra></nz-form-extra>
      </nz-form-control>
      </div>
    </div>
    <!--排气-->
    <!--测量结果-->
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="6">
          检测数据
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="18">
        <input nz-input formControlName="ResultMeasurement"/>
               <nz-form-extra></nz-form-extra>
      </nz-form-control>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="6">
          检测时长
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="18">
        <input nz-input formControlName="TestTime"/>
               <nz-form-extra></nz-form-extra>
      </nz-form-control>
      </div>
      
      <div nz-col nzSpan="12">
        <nz-form-label nzSpan="6">
          测试结果
      </nz-form-label>
      <nz-form-control [formGroup]="form" nzSpan="18">
        <input nz-input formControlName="TestResult" placeholder=""/>
      </nz-form-control>
      </div>
    </div>
    <!--测量结果-->
    
    
  </form>
  <ng-template #title>
    <span style="font-size: 20px;font-weight: 600;">{{config.title ? config.title : ''}}</span>
  </ng-template>
</nz-card>
</nz-spin>