<div class="table-operations">
    <span *ngFor="let toolbar of toolbarConfig">

        <span class="toolbarGroup" *ngIf="toolbar.group">
                <!-- <nz-button-group> -->
                    <button
                        [nzSize]="size ? size : 'default'"
                        [nzType]="btn.style ? btn.style : 'default'"
                        nz-button
                        *ngFor="let btn of toolbar.group"
                        (click)="toolbarAction(btn,$event)"
                        [attr.disabled]="btn.disabled">
                            <!-- <strong><i class="{{btn.icon}} {{btn.color}}"></i> {{btn.text}}</strong> -->
                            <i style="font-size:1.3em;" nz-icon [type]="btn.icon" [theme]="btn.theme ? btn.theme : 'outline'"></i> <span style="font-size:1.2em;">{{btn.text}}</span>
                    </button>
                <!-- </nz-button-group> -->
        </span>
        <span class="toolbarGroup" *ngIf="toolbar.dropdown">
                <nz-dropdown *ngFor="let btn of toolbar.dropdown">
                        <button  nz-button nz-dropdown>
                            <strong>
                                    <i class="anticon anticon-down"></i> {{btn.text}}
                            </strong>
                        </button>
                        <ul nz-menu>
                            <li nz-menu-item (click)="toolbarAction(b,$event)" *ngFor="let b of btn.buttons">
                                <strong>
                                        <a  [attr.disabled]="b.disabled"> <i nz-icon type="btn.icon" [theme]="btn.theme ? btn.theme : 'outline'"></i>{{b.text}}</a>
                                </strong>
                            </li>
                        </ul>
                </nz-dropdown>
        </span>
    </span>
</div>
