<!-- readonly="{{configtanchuInput.readonly}}"
disabled="{{configtanchuInput.disabled}}" -->
<nz-modal [(nzVisible)]="isVisible" [nzWidth]="config.select.nzWidth" [nzTitle]="config.select.title"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

    <cn-bsn-table #table [config]="config.select.selectGrid" [bsnData]="bsnData" [initData]="initData"
        [casadeData]="casadeData" [value]="_value"> </cn-bsn-table>
</nz-modal>

<div>
    <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
        <input nz-input style=" padding-right: 30px;" [ngStyle]="{'width':config.width}" type="{{config.inputType}}"
            [nzSize]="config.size" placeholder="{{config.placeholder}}" [(ngModel)]="_valuetext">

        <input nz-input (ngModelChange)="valueChange($event)" type="hidden" placeholder="{{config.placeholder}}"
            [(ngModel)]="_value">

    </nz-input-group>
    <ng-template #suffixIconButton>
        <button nz-button nzSearch [nzType]="'default'" (click)="showModal()">
            <i class="anticon anticon-edit"></i>
        </button>
    </ng-template>
</div>