<div style="position:relative;">
        <page-header class="templateHeader" [title]="config.title" style="position:fixed; width: 100%;z-index: 999;">
                <ng-template #content>
                        <div class="template_desc">{{config.desc}}</div>
                </ng-template>
                <ng-template #logo>
                        <div class="template_logo">
                                <i nz-icon type="schedule" theme="outline"></i>
                        </div>
                </ng-template>
                <ng-template #extra>
                        <!-- <nz-button-group>
                          <button nz-button (click)="isCollapsed=!isCollapsed"><i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'"></i></button>
                        </nz-button-group> -->
                        <!-- <nz-dropdown class="mx-sm">
                          <button nz-button nz-dropdown><i nz-icon type="ellipsis"></i></button>
                          <ul nz-menu>
                            <li nz-menu-item>选项一</li>
                            <li nz-menu-item>选项二</li>
                            <li nz-menu-item>选项三</li>
                          </ul>
                        </nz-dropdown>
                        <button nz-button [nzType]="'primary'">主操作</button> -->
                        
                        <bsn-toolbar style="float:left" *ngIf="config.toolbar" [config]="config.toolbar" [viewId]="config.targetViewId"></bsn-toolbar>
                        <button *ngIf="config.siderLayout" nz-button (click)="isCollapsed=!isCollapsed"><i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'"></i></button>
                      </ng-template>
                
        </page-header>
        
        <div class="workplace">
                <nz-layout>
                        <nz-layout>
                                <cn-layout-resolver *ngIf="isLoadLayout" [config]="config" [initData]="initData" [permissions] = "permissions ? permissions : []"></cn-layout-resolver>
                        </nz-layout>
                        <nz-sider [nzWidth]="700" style="background: #fff" [nzCollapsedWidth]="0" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
                                
                        </nz-sider>
                        <ng-template #trigger>
                                        <i nz-icon type="up"></i>
                        </ng-template>
                </nz-layout>
            
        </div>
</div>

        
        
        
