<nz-layout>
    <nz-content>
        <nz-card [nzBordered]="true" [nzBodyStyle]="config.bodyStyle?config.bodyStyle:{height: '500px'}">
            <nz-table #nzTable [nzBordered]="config.bordered?config.bordered:false" [nzData]="dataList"
                [nzSize]="config.size" [nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzTotal]="total"
                [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzShowTotal]="showTotal"
                [nzPageSizeOptions]="config.pageSizeOptions ? config.pageSizeOptions :[]" [nzLoading]="loading"
                (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)"
                [nzTitle]="this.config.title ? title : false" [nzLoadingDelay]="50"
                [nzScroll]="config.scroll ? config.scroll : {}">
                <thead (nzSortChange)="sort($event)" nzSingleSort>
                    <tr>
                        <th [attr.rowspan]="config.checkedConfig.rowspan?config.checkedConfig.rowspan:1"
                            *ngIf="config.checkedConfig" nzLeft="0px"
                            [nzWidth]="config.checkedConfig.width?config.checkedConfig.width:'10px'"
                            [nzShowCheckbox]="config.showCheckBox ? config.showCheckBox : false"
                            [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
                            (nzCheckedChange)="checkAll($event)">
                        </th>
                        <ng-template ngFor let-col [ngForOf]="config.columns">
                            <th [nzWidth]="col.width" [nzShowSort]="col.showSort" [nzShowFilter]="col.showFilter"
                                *ngIf="!col.hidden && col.subtitle === '台份'" [nzSortKey]="col.field" nzLeft="91px"
                                [ngClass]="[col.titleAlign ? col.titleAlign : '']">
                                <span *ngIf="!col.button">{{col.title}}</span>
                                <button *ngIf="col.button" nz-button nzType="primary"
                                    (click)="titleToolbarAction(col)">{{col.title}}</button>
                            </th>
                            <th [nzWidth]="col.width" [nzShowSort]="col.showSort" [nzShowFilter]="col.showFilter"
                                *ngIf="!col.hidden && (!col.subtitle || col.subtitle !== '台份') && !col.left" [nzSortKey]="col.field"
                                [ngClass]="[col.titleAlign ? col.titleAlign : '']">
                                <!-- (mousedown)="th_onmousedown($event)" (mouseup)="th_onmouseup($event)" (mousemove)="th_onmousemove($event,col)" -->
                                <!--  [nzFilters]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null" (nzFilterChange)="columnFilter(col.editor.field, $event)" -->
                                <ng-container *ngIf="config.checkedConfig">
                                    <span *ngIf="col.text">{{col.title}}</span>
                                    <button *ngIf="!col.text" nz-button nzType="primary" nzBlock
                                        (click)="titleToolbarAction(col)">{{col.title}}</button>
                                </ng-container>
                                <ng-container *ngIf="!config.checkedConfig">
                                    <span *ngIf="!col.button">{{col.title}}</span>
                                    <button *ngIf="col.button" nz-button nzType="primary" nzBlock
                                        (click)="titleToolbarAction(col)">{{col.title}}</button>
                                </ng-container>
                            </th>
                            <th [nzWidth]="col.width" [nzShowSort]="col.showSort" [nzShowFilter]="col.showFilter"
                                *ngIf="!col.hidden && (!col.subtitle || col.subtitle !== '台份') && col.left" [nzSortKey]="col.field"
                                [ngClass]="[col.titleAlign ? col.titleAlign : '']" [nzLeft] = 'col.left'>
                                <!-- (mousedown)="th_onmousedown($event)" (mouseup)="th_onmouseup($event)" (mousemove)="th_onmousemove($event,col)" -->
                                <!--  [nzFilters]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null" (nzFilterChange)="columnFilter(col.editor.field, $event)" -->
                                <ng-container *ngIf="config.checkedConfig">
                                    <span *ngIf="col.text">{{col.title}}</span>
                                    <button *ngIf="!col.text" nz-button nzType="primary" nzBlock
                                        (click)="titleToolbarAction(col)">{{col.title}}</button>
                                </ng-container>
                                <ng-container *ngIf="!config.checkedConfig">
                                    <span *ngIf="!col.button">{{col.title}}</span>
                                    <button *ngIf="col.button" nz-button nzType="primary" nzBlock
                                        (click)="titleToolbarAction(col)">{{col.title}}</button>
                                </ng-container>
                            </th>
                        </ng-template>
                    </tr>
                    <tr *ngIf="config.columnsGroup">
                        <ng-template ngFor let-col [ngForOf]="config.columns">
                            <th [nzWidth]="col.width" [nzShowSort]="col.showSort" [nzShowFilter]="col.showFilter"
                                *ngIf="!col.hidden && col.subtitle === '台份'" [nzSortKey]="col.field" nzLeft="91px"
                                [ngClass]="[col.titleAlign ? col.titleAlign : '']">
                                <span *ngIf="col.subtitletext">{{col.subtitle}}</span>
                                <button *ngIf="!col.subtitletext" nz-button nzType="primary" nzBlock
                                    (click)="titleToolbarAction(col)">{{col.subtitle}}</button>
                            </th>
                            <th [nzWidth]="col.width" [nzShowSort]="col.showSort" [nzShowFilter]="col.showFilter"
                                *ngIf="!col.hidden && (!col.subtitle || col.subtitle !== '台份')" [nzSortKey]="col.field"
                                [ngClass]="[col.titleAlign ? col.titleAlign : '']">
                                <ng-container *ngIf="config.checkedConfig">
                                    <span *ngIf="col.subtitletext">{{col.subtitle}}</span>
                                    <button *ngIf="!col.subtitletext" nz-button nzType="primary" nzBlock
                                        (click)="titleToolbarAction(col)">{{col.subtitle}}</button>
                                </ng-container>
                                <ng-container *ngIf="!config.checkedConfig">
                                    <span *ngIf="!col.button">{{col.subtitle}}</span>
                                    <button *ngIf="col.button" nz-button nzType="primary" nzBlock
                                        (click)="titleToolbarAction(col)">{{col.subtitle}}</button>
                                </ng-container>
                            </th>
                        </ng-template>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data [ngForOf]="nzTable.data">
                        <ng-container *ngIf="data.row_status === 'search'">
                            <tr>
                                <ng-container *ngIf="config.checkedConfig">
                                    <td *ngIf="config.showCheckBox" [(nzChecked)]="data.checked"
                                        (nzCheckedChange)="refChecked($event)">
                                        <!-- [nzShowCheckbox]="config.showCheckBox" _serilize  nzCheckedChildren="data[config.columns[0].field]" nzUnCheckedChildren="data[config.columns[0].field]" -->
                                        <nz-switch [ngModel]="data.checked" [nzCheckedChildren]="checkedTemplate"
                                            (ngModelChange)="swichChecked(data)"
                                            [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                                        <ng-template #checkedTemplate>{{data[config.checkedConfig.feild]}}</ng-template>
                                        <ng-template #unCheckedTemplate>{{data[config.checkedConfig.feild]}}
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="!config.checkedConfig">
                                    <td *ngIf="config.showCheckBox" [nzShowCheckbox]="config.showCheckBox"
                                        [(nzChecked)]="data.checked" (nzCheckedChange)="refChecked($event)">
                                    </td>
                                </ng-container>
                                <ng-template ngFor let-col [ngForOf]="config.columns">
                                    <td *ngIf="!col.hidden"
                                        [ngClass]="[col.formatter ? setCellFont(data[col.field], col.formatter,data):'',col.fieldAlign ? col.fieldAlign : '']">
                                        <ng-container *ngIf="col.editor || col.searcheditor">
                                            <div *ngIf="!editCache[data.key]['edit']">
                                                <span>{{!col.dataType?data[col.field]:data[col.field] | date}}
                                                </span>
                                            </div>
                                            <ng-container>
                                                <ng-container *ngIf="col.searcheditor">
                                                    <cn-grid-search [bsnData]="tempValue" [initData]="initData"
                                                        [rowData]="editCache[data.key].data"
                                                        [dataSet]="col.searcheditor.options.dataSet?dataSet[col.searcheditor.options.dataSet]:null"
                                                        [searchConfigType]="'searcheditor'"
                                                        [config]="col.searcheditor.options"
                                                        [value]="{key:data.key,name:col.searcheditor.field,data:null,dataText:null}"
                                                        [changeConfig]="changeConfig_newSearch.hasOwnProperty(data.key) ? changeConfig_newSearch[data.key][col.searcheditor.field]:''"
                                                        (updateValue)="valueChangeSearch($event)"></cn-grid-search>
                                                </ng-container>
                                                <cn-grid-search *ngIf="!col.searcheditor && col.editor"
                                                    [bsnData]="tempValue" [initData]="initData"
                                                    [rowData]="editCache[data.key].data"
                                                    [dataSet]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null"
                                                    [searchConfigType]="'editor'" [config]="col.editor.options"
                                                    [value]="{key:data.key,name:col.editor.field,data:null,dataText:null}"
                                                    [changeConfig]="changeConfig_newSearch.hasOwnProperty(data.key) ? changeConfig_newSearch[data.key][col.editor.field]:''"
                                                    (updateValue)="valueChangeSearch($event)">
                                                </cn-grid-search>
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf="!col.editor">
                                            <ng-container *ngIf="!col.type && col.field !=='_serilize' ">
                                                <cn-grid-search *ngIf="!col.searcheditor && !col.editor"
                                                    [searchConfigType]="'default'" [bsnData]="tempValue"
                                                    [initData]="initData" [rowData]="editCache[data.key].data"
                                                    [dataSet]="null" [config]="col"
                                                    [value]="{key:data.key,name:col.field,data:null,dataText:null}"
                                                    [changeConfig]="changeConfig_newSearch.hasOwnProperty(data.key) ? changeConfig_newSearch[data.key][col.field]:''"
                                                    (updateValue)="valueChangeSearch($event)"></cn-grid-search>
                                            </ng-container>
                                            <ng-container *ngIf="col.type">
                                                <div class="editable-row-operations">
                                                    <button nz-button nzType="primary" nzBlock
                                                        (click)="execFun('deleteRow',data.key)">删除</button>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                </ng-template>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="data.row_status != 'search'">
                            <tr (click)="selectRow(data, $event)" [ngClass]="{checkedRow:(data.selected?false:data.checked),selectedRow:data.selected}">
                                <ng-container *ngIf="config.checkedConfig">
                                    <!-- <td *ngIf="config.showCheckBox" nzLeft="0px" style="width: 200px; padding: 16px 20px;" [nzWidth]="config.checkedConfig.width?config.checkedConfig.width:'10px'" [(nzChecked)]="data.checked" (nzCheckedChange)="refChecked($event)" [ngClass]="['text-center']"> -->
                                    <td *ngIf="config.showCheckBox" nzLeft="0px"
                                        style="width: 200px; padding: 16px 20px;" [(nzChecked)]="data.checked"
                                        (nzCheckedChange)="refChecked($event)" [ngClass]="['text-center']">
                                        <!-- [nzShowCheckbox]="config.showCheckBox" _serilize  nzCheckedChildren="data[config.columns[0].field]" nzUnCheckedChildren="data[config.columns[0].field]" -->
                                        <nz-switch [ngModel]="data.checked" [nzSize]="large"
                                            [nzCheckedChildren]="checkedTemplate" (ngModelChange)="swichChecked(data)"
                                            [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                                        <ng-template #checkedTemplate>{{config.checkedConfig.check}}</ng-template>
                                        <ng-template #unCheckedTemplate>{{config.checkedConfig.uncheck}}</ng-template>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="!config.checkedConfig">
                                    <td *ngIf="config.showCheckBox" [nzShowCheckbox]="config.showCheckBox"
                                        [(nzChecked)]="data.checked" (nzCheckedChange)="refChecked($event)">
                                    </td>
                                </ng-container>
                                <ng-template ngFor let-col [ngForOf]="config.columns">
                                    <td *ngIf="!col.hidden && (col.subtitle !=='台份' || !col.subtitle) && !col.left" 
                                        [ngClass]="[col.formatter ? setCellFont(data[col.field],col.formatter,data):'',col.fieldAlign ? col.fieldAlign : '']">
                                        <ng-container *ngIf="col.editor">
                                            <ng-container *ngIf="!col.type">
                                                <div *ngIf="!editCache[data.key]['edit']">
                                                    <span>{{!col.dataType?data[col.field]:data[col.field] | date}}</span>
                                                </div>
                                                <ng-container *ngIf="_isArray(col.editor)">
                                                    <!-- <p>调用新的简析方法,将配置简析</p> -->
                                                    <cn-grid-edit *ngIf="col.editor" [searchConfigType]="'default'"
                                                        [bsnData]="tempValue" [initData]="initData"
                                                        [rowData]="editCache[data.key].data" [dataSet]="null"
                                                        [config]="col"
                                                        [value]="{key:data.key,name:col.field,data:null,dataText:null}"
                                                        [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.field]:''"
                                                        (updateValue)="valueChange($event)"></cn-grid-edit>
                                                </ng-container>
                                                <ng-container *ngIf="!_isArray(col.editor)">
                                                    <ng-container [bsnData]="tempValue" [initData]="initData"
                                                        [rowData]="editCache[data.key]['data']"
                                                        [dataSet]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null"
                                                        CnGridEditorDirective *ngIf="editCache[data.key].edit"
                                                        [config]="col.editor.options"
                                                        [value]="{key:data.key,name:col.editor.field,data:editCache[data.key].data[col.editor.field],dataText:editCache[data.key].data[col.field]?editCache[data.key].data[col.field]:null}"
                                                        [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.editor.field]:''"
                                                        (updateValue)="valueChange($event)">
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngIf="col.type">
                                                <div class="editable-row-operations">
                                                    <button nz-button nzType="primary" nzBlock
                                                        (click)="execFun('deleteRow',data.key)">删除</button>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf="!col.editor">
                                            <ng-container *ngIf="!col.type">
                                                <span>{{data[col.field]}}</span>
                                            </ng-container>
                                            <ng-container
                                                *ngIf="col.type && col.name && col.conditionField && col.hidden === showbutton(data[col.conditionField], col.condition)">
                                                <div class="editable-row-operations">
                                                    <button nz-button nzType="primary" nzBlock
                                                        (click)="execFun(col.actionName,data.key)">{{col.name}}</button>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="col.type && !col.name">
                                                <div class="editable-row-operations">
                                                    <button nz-button nzType="primary" nzBlock
                                                        (click)="execFun('deleteRow',data.key)">删除</button>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                    <td *ngIf="!col.hidden && (col.subtitle !=='台份' || !col.subtitle) && col.left" [nzLeft]="col.left"
                                        [ngClass]="[col.formatter ? setCellFont(data[col.field],col.formatter,data):'',col.fieldAlign ? col.fieldAlign : '']">
                                        <ng-container *ngIf="col.editor">
                                            <ng-container *ngIf="!col.type">
                                                <div *ngIf="!editCache[data.key]['edit']">
                                                    <span>{{!col.dataType?data[col.field]:data[col.field] | date}}</span>
                                                </div>
                                                <ng-container *ngIf="_isArray(col.editor)">
                                                    <!-- <p>调用新的简析方法,将配置简析</p> -->
                                                    <cn-grid-edit *ngIf="col.editor" [searchConfigType]="'default'"
                                                        [bsnData]="tempValue" [initData]="initData"
                                                        [rowData]="editCache[data.key].data" [dataSet]="null"
                                                        [config]="col"
                                                        [value]="{key:data.key,name:col.field,data:null,dataText:null}"
                                                        [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.field]:''"
                                                        (updateValue)="valueChange($event)"></cn-grid-edit>
                                                </ng-container>
                                                <ng-container *ngIf="!_isArray(col.editor)">
                                                    <ng-container [bsnData]="tempValue" [initData]="initData"
                                                        [rowData]="editCache[data.key]['data']"
                                                        [dataSet]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null"
                                                        CnGridEditorDirective *ngIf="editCache[data.key].edit"
                                                        [config]="col.editor.options"
                                                        [value]="{key:data.key,name:col.editor.field,data:editCache[data.key].data[col.editor.field],dataText:editCache[data.key].data[col.field]?editCache[data.key].data[col.field]:null}"
                                                        [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.editor.field]:''"
                                                        (updateValue)="valueChange($event)">
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngIf="col.type">
                                                <div class="editable-row-operations">
                                                    <button nz-button nzType="primary" nzBlock
                                                        (click)="execFun('deleteRow',data.key)">删除</button>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf="!col.editor">
                                            <ng-container *ngIf="!col.type">
                                                <span>{{data[col.field]}}</span>
                                            </ng-container>
                                            <ng-container
                                                *ngIf="col.type && col.name && col.conditionField && col.hidden === showbutton(data[col.conditionField], col.condition)">
                                                <div class="editable-row-operations">
                                                    <button nz-button nzType="primary" nzBlock
                                                        (click)="execFun(col.actionName,data.key)">{{col.name}}</button>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="col.type && !col.name">
                                                <div class="editable-row-operations">
                                                    <button nz-button nzType="primary" nzBlock
                                                        (click)="execFun('deleteRow',data.key)">删除</button>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                    <td *ngIf="!col.hidden && col.subtitle === '台份'" nzLeft="91px"
                                        [ngClass]="[col.formatter ? setCellFont(data[col.field],col.formatter,data):'',col.fieldAlign ? col.fieldAlign : '']">
                                        <ng-container *ngIf="col.editor">
                                            <ng-container *ngIf="!col.type">
                                                <div *ngIf="!editCache[data.key]['edit']">
                                                    <span>{{!col.dataType?data[col.field]:data[col.field] | date}}</span>
                                                </div>
                                                <ng-container *ngIf="_isArray(col.editor)">
                                                    <!-- <p>调用新的简析方法,将配置简析</p> -->
                                                    <cn-grid-edit *ngIf="col.editor" [searchConfigType]="'default'"
                                                        [bsnData]="tempValue" [initData]="initData"
                                                        [rowData]="editCache[data.key].data" [dataSet]="null"
                                                        [config]="col"
                                                        [value]="{key:data.key,name:col.field,data:null,dataText:null}"
                                                        [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.field]:''"
                                                        (updateValue)="valueChange($event)"></cn-grid-edit>
                                                </ng-container>
                                                <ng-container *ngIf="!_isArray(col.editor)">
                                                    <ng-container [bsnData]="tempValue" [initData]="initData"
                                                        [rowData]="editCache[data.key]['data']"
                                                        [dataSet]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null"
                                                        CnGridEditorDirective *ngIf="editCache[data.key].edit"
                                                        [config]="col.editor.options"
                                                        [value]="{key:data.key,name:col.editor.field,data:editCache[data.key].data[col.editor.field],dataText:editCache[data.key].data[col.field]?editCache[data.key].data[col.field]:null}"
                                                        [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.editor.field]:''"
                                                        (updateValue)="valueChange($event)">
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngIf="col.type">
                                                <div class="editable-row-operations">
                                                    <button nz-button nzType="primary" nzBlock
                                                        (click)="execFun('deleteRow',data.key)">删除</button>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf="!col.editor">
                                            <ng-container *ngIf="!col.type">
                                                <span>{{data[col.field]}}</span>
                                            </ng-container>
                                            <ng-container
                                                *ngIf="col.type && col.name && col.conditionField && col.hidden === showbutton(data[col.conditionField], col.condition)">
                                                <div class="editable-row-operations">
                                                    <button nz-button nzType="primary" nzBlock
                                                        (click)="execFun(col.actionName,data.key)">{{col.name}}</button>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="col.type && !col.name">
                                                <div class="editable-row-operations">
                                                    <button nz-button nzType="primary" nzBlock
                                                        (click)="execFun('deleteRow',data.key)">删除</button>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                </ng-template>
                            </tr>
                        </ng-container>
                    </ng-template>
                </tbody>
                <ng-template #title>
                    {{config.title ? config.title : ''}}
                    <!-- <span style="float:right">已选择<strong class="text-primary"> {{checkedCount}}</strong> 项</span>&nbsp; -->
                </ng-template>
                <!--<ng-template #footer>-->
                <!--&nbsp;-->
                <!--</ng-template> -->
                <nz-switch *ngIf="config.autoPlaySwitch" [ngModel]="true" nzCheckedChildren="开始滚动"
                    nzUnCheckedChildren="暂停滚动" (ngModelChange)="startAutoPlay()"></nz-switch>
                    <ng-template #showTotal let-total>
                        共 {{total}} 条
                    </ng-template>
            </nz-table>
        </nz-card>
    </nz-content>
    <nz-footer style="text-align: center; padding: 0px" *ngIf="config.toolbar">
        <nz-card>
            <bsn-toolbar [permissions]="permissions ? permissions : []" [config]="config.toolbar"
                [viewId]="config.viewId"></bsn-toolbar>
        </nz-card>
    </nz-footer>
</nz-layout>

<ng-template #tplTitle>
        <span style="font-size:1.2em;">{{msgTitle}}</span>
    </ng-template>
    
    <ng-template #tplContent>
        <div style="font-size:1.5em;;text-align: left">{{ msgContent }}</div>
    </ng-template>
    
    <ng-template #tplFooter>
        <button nz-button style="font-size:1.5em;padding:15px 45px 40px 45px;" nzType="primary" (click)="destoryTplModal()">关闭</button>
    </ng-template>
    
    
    <ng-template #tplConfirmFooter>
            <button nz-button style="font-size:1.5em;padding:15px 45px 40px 45px;" nzType="primary" (click)="confirmDialogOK()">确认</button>
        <button nz-button style="font-size:1.5em;padding:15px 45px 40px 45px;" nzType="primary" (click)="destoryTplModal()">取消</button>
    </ng-template>
    
    
    <ng-template #tplInnerConfirmFooter>
            <button nz-button style="font-size:1.5em;padding:15px 45px 40px 45px;" nzType="primary" (click)="innerConfirmDialogOK()">确认</button>
        <button nz-button style="font-size:1.5em;padding:15px 45px 40px 45px;" nzType="primary" (click)="destoryTplModal()">取消</button>
    </ng-template>


    <ng-template #tplDeleteConfirmFooter>
        <button nz-button style="font-size:1.5em;padding:15px 45px 40px 45px;" nzType="primary" (click)="deleteConfirmObj()">确认</button>
    <button nz-button style="font-size:1.5em;padding:15px 45px 40px 45px;" nzType="primary" (click)="destoryTplModal()">取消</button>
</ng-template>



<ng-template #tplCETACFooter>
    <button nz-button style="font-size:1.5em;padding:15px 45px 40px 45px;" nzType="primary" (click)="destoryTplModal()">关闭</button>
    <button nz-button style="font-size:1.5em;padding:15px 45px 40px 45px;" nzType="primary" (click)="destoryTplModal()">上传数据</button>
</ng-template>