<nz-layout>
    <nz-content>
            <nz-card [nzBordered]="true" [nzBodyStyle]="config.bodyStyle?config.bodyStyle:{height: '500px'}">
                    <nz-table #nzTable [nzData]="dataList" [nzSize]="config.size" [nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzTotal]="total"
                    [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzShowTotal]="totals" [nzPageSizeOptions]="config.pageSizeOptions ? config.pageSizeOptions :[]"
                    [nzLoading]="loading" (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzTitle]="this.config.title ? title : false"
                     [nzNoResult]="noResult"  [nzLoadingDelay]="50" [nzScroll]="config.scroll ? config.scroll : {}">
                    <thead (nzSortChange)="sort($event)" nzSingleSort>
                        <tr (contextmenu)="contextMenu($event,contextTemplate)">
                            <th *ngIf="config.showCheckBox" [nzWidth]="config.checkedConfig.width?config.checkedConfig.width:'10px'" [nzShowCheckbox]="config.showCheckBox ? config.showCheckBox : false"
                                [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)">
                            </th>
                            <ng-template ngFor let-col [ngForOf]="config.columns">
                                <th [nzWidth]="col.width" [nzShowSort]="col.showSort" [nzShowFilter]="col.showFilter" *ngIf="!col.hidden" [nzSortKey]="col.field"
                                    [ngClass]="[col.titleAlign ? col.titleAlign : '']">
                                    <!-- (mousedown)="th_onmousedown($event)" (mouseup)="th_onmouseup($event)" (mousemove)="th_onmousemove($event,col)" -->
                                    <!--  [nzFilters]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null" (nzFilterChange)="columnFilter(col.editor.field, $event)" -->
                                    <ng-container *ngIf="config.checkedConfig">
                                        <span *ngIf="col.text">{{col.title}}</span>
                                        <button *ngIf="!col.text" nz-button nzType="primary" nzBlock (click)="titleToolbarAction(col)">{{col.title}}</button>
                                    </ng-container>
                                    <ng-container *ngIf="!config.checkedConfig">
                                        <span *ngIf="!col.button">{{col.title}}</span>
                                        <button *ngIf="col.button" nz-button nzType="primary" nzBlock (click)="titleToolbarAction(col)">{{col.title}}</button>
                                    </ng-container>
                                </th>
                            </ng-template>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template ngFor let-data [ngForOf]="nzTable.data">
                            <ng-container *ngIf="data.row_status === 'search'">
                                <tr>
                                    <ng-container *ngIf="config.checkedConfig">
                                        <td *ngIf="config.showCheckBox" [(nzChecked)]="data.checked" (nzCheckedChange)="refChecked($event)">
                                            <!-- [nzShowCheckbox]="config.showCheckBox" _serilize  nzCheckedChildren="data[config.columns[0].field]" nzUnCheckedChildren="data[config.columns[0].field]" -->
                                            <nz-switch [ngModel]="data.checked" [nzCheckedChildren]="checkedTemplate" (ngModelChange)="swichChecked(data)" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                                            <ng-template #checkedTemplate>{{data[config.checkedConfig.feild]}}</ng-template>
                                            <ng-template #unCheckedTemplate>{{data[config.checkedConfig.feild]}}</ng-template>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="!config.checkedConfig">
                                        <td *ngIf="config.showCheckBox" [nzShowCheckbox]="config.showCheckBox" [(nzChecked)]="data.checked" (nzCheckedChange)="refChecked($event)">
                                        </td>
                                    </ng-container>
                                    <ng-template ngFor let-col [ngForOf]="config.columns">
                                        <td *ngIf="!col.hidden" [ngClass]="[col.formatter ? setCellFont(data[col.field], col.formatter,data):'',col.fieldAlign ? col.fieldAlign : '']">
                                            <ng-container *ngIf="col.editor || col.searcheditor">
                                                <div *ngIf="!editCache[data.key]['edit']">
                                                    <span>{{!col.dataType?data[col.field]:data[col.field] | date}}
                                                    </span>
                                                </div>
                                                <ng-container>
                                                    <ng-container *ngIf="col.searcheditor">
                                                        <cn-grid-search [bsnData]="tempValue" [initData]="initData" [rowData]="editCache[data.key].data" [dataSet]="col.searcheditor.options.dataSet?dataSet[col.searcheditor.options.dataSet]:null"
                                                            [searchConfigType]="'searcheditor'" [config]="col.searcheditor.options" [value]="{key:data.key,name:col.searcheditor.field,data:null,dataText:null}"
                                                            [changeConfig]="changeConfig_newSearch.hasOwnProperty(data.key) ? changeConfig_newSearch[data.key][col.searcheditor.field]:''"
                                                            (updateValue)="valueChangeSearch($event)"></cn-grid-search>
                                                    </ng-container>
                                                    <cn-grid-search *ngIf="!col.searcheditor && col.editor" [bsnData]="tempValue" [initData]="initData" [rowData]="editCache[data.key].data"
                                                        [dataSet]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null" [searchConfigType]="'editor'"
                                                        [config]="col.editor.options" [value]="{key:data.key,name:col.editor.field,data:null,dataText:null}"
                                                        [changeConfig]="changeConfig_newSearch.hasOwnProperty(data.key) ? changeConfig_newSearch[data.key][col.editor.field]:''"
                                                        (updateValue)="valueChangeSearch($event)">
                                                    </cn-grid-search>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngIf="!col.editor">
                                                <ng-container *ngIf="!col.type && col.field !=='_serilize' ">
                                                    <cn-grid-search *ngIf="!col.searcheditor && !col.editor" [searchConfigType]="'default'" [bsnData]="tempValue" [initData]="initData"
                                                        [rowData]="editCache[data.key].data" [dataSet]="null" [config]="col" [value]="{key:data.key,name:col.field,data:null,dataText:null}"
                                                        [changeConfig]="changeConfig_newSearch.hasOwnProperty(data.key) ? changeConfig_newSearch[data.key][col.field]:''"
                                                        (updateValue)="valueChangeSearch($event)"></cn-grid-search>
                                                </ng-container>
                                                <ng-container *ngIf="col.type">
                                                    <div class="editable-row-operations">
                                                            <button  nz-button nzType="primary" nzBlock (click)="execFun('deleteRow',data.key)">删除</button>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </td>
                                    </ng-template>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="data.row_status != 'search'">
                                <tr (click)="selectRow(data, $event)" [ngClass]="{selectedRow:data.selected}">
                                    <ng-container *ngIf="config.checkedConfig">
                                        <td *ngIf="config.showCheckBox" [(nzChecked)]="data.checked"  (nzCheckedChange)="refChecked($event)" [ngClass]="['text-center']">
                                            <!-- [nzShowCheckbox]="config.showCheckBox" _serilize  nzCheckedChildren="data[config.columns[0].field]" nzUnCheckedChildren="data[config.columns[0].field]" -->
                                            <nz-switch [ngModel]="data.checked" [nzSize]="large" [nzCheckedChildren]="checkedTemplate" (ngModelChange)="swichChecked(data)" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                                            <ng-template #checkedTemplate>{{data[config.checkedConfig.feild]}}</ng-template>
                                            <ng-template #unCheckedTemplate>{{data[config.checkedConfig.feild]}}</ng-template>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="!config.checkedConfig">
                                        <td *ngIf="config.showCheckBox" [nzShowCheckbox]="config.showCheckBox" [(nzChecked)]="data.checked" (nzCheckedChange)="refChecked($event)">
                                        </td>
                                    </ng-container>
                                    <ng-template ngFor let-col [ngForOf]="config.columns" >
                                        <td *ngIf="!col.hidden"  [ngClass]="[col.formatter ? setCellFont(data[col.field],col.formatter,data):'',col.fieldAlign ? col.fieldAlign : '']">
                                            <ng-container *ngIf="col.editor">
                                                <ng-container *ngIf="!col.type">
                                                    <div *ngIf="!editCache[data.key]['edit']">
                                                        <span>{{!col.dataType?data[col.field]:data[col.field] | date}}</span>
                                                    </div>
                                                    <ng-container *ngIf="_isArray(col.editor)">
                                                        <!-- <p>调用新的简析方法,将配置简析</p> -->
                                                        <cn-grid-edit *ngIf="col.editor" [searchConfigType]="'default'" [bsnData]="tempValue" [initData]="initData" [rowData]="editCache[data.key].data"
                                                            [dataSet]="null" [config]="col" [value]="{key:data.key,name:col.field,data:null,dataText:null}"
                                                            [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.field]:''"
                                                            (updateValue)="valueChange($event)"></cn-grid-edit>
                                                    </ng-container>
                                                    <ng-container *ngIf="!_isArray(col.editor)">
                                                        <ng-container [bsnData]="tempValue" [initData]="initData" [rowData]="editCache[data.key].data" [dataSet]="col.editor.options.dataSet?dataSet[col.editor.options.dataSet]:null"
                                                            CnGridEditorDirective *ngIf="editCache[data.key].edit" [config]="col.editor.options"
                                                            [value]="{key:data.key,name:col.editor.field,data:editCache[data.key].data[col.editor.field],dataText:editCache[data.key].data[col.field]?editCache[data.key].data[col.field]:null}"
                                                            [changeConfig]="changeConfig_new.hasOwnProperty(data.key) ? changeConfig_new[data.key][col.editor.field]:''"
                                                            (updateValue)="valueChange($event)">
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                                <ng-container *ngIf="col.type">
                                                    <div class="editable-row-operations">
                                                            <button  nz-button nzType="primary" nzBlock (click)="execFun('deleteRow',data.key)">删除</button>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngIf="!col.editor">
                                                <ng-container *ngIf="!col.type">
                                                    <span>{{data[col.field]}}</span>
                                                </ng-container>
                                                <ng-container *ngIf="col.type">
                                                    <div class="editable-row-operations">
                                                        <button  nz-button nzType="primary" nzBlock (click)="execFun('deleteRow',data.key)">删除</button>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </td>
                                    </ng-template>
                                </tr>
                            </ng-container>
                        </ng-template>
                    </tbody>
                    <ng-template #title>
                        {{config.title ? config.title : ''}}
                        <!-- <span style="float:right">已选择<strong class="text-primary"> {{checkedCount}}</strong> 项</span>&nbsp; -->
                    </ng-template>
                    <!--<ng-template #footer>-->
                    <!--&nbsp;-->
                    <!--</ng-template> -->
                    <nz-switch *ngIf = "config.autoPlaySwitch" [ngModel]="true" nzCheckedChildren="开始滚动" nzUnCheckedChildren="暂停滚动" (ngModelChange)="startAutoPlay()" ></nz-switch>
                    <ng-template #totals let-total *ngIf = "config.pagination">
                        共 {{total|async}} 条
                    </ng-template>
                    <ng-template #noResult *ngIf = "config.pagination">
                        未查询到任何数据...
                    </ng-template>
                    </nz-table>
                    <ng-template #contextTemplate *ngIf = "config.pagination">
                        <!-- <cn-bsn-tree-menu [config]="menus" [dropdown]="dropdown"></cn-bsn-tree-menu> -->
                        <ul nz-menu nzInDropDown *ngFor="let group of menus">
                            <li *ngFor="let btn of group" nz-menu-item (click)="selectMenu(btn, group)">
                                <span style="padding-left:15px;padding-right:15px;">
                                    <strong>
                                        <i nz-icon type="setting" theme="outline"></i> {{btn.text}}</strong>
                                </span>
                            </li>
                        </ul>
                    </ng-template>
            </nz-card>
    </nz-content>
    <nz-footer style="text-align: center; padding: 0px" *ngIf="config.toolbar">
        <nz-card>
                <bsn-toolbar  [permissions]="permissions ? permissions : []" [config]="config.toolbar" [viewId]="config.viewId"></bsn-toolbar>
        </nz-card>    
    </nz-footer>
</nz-layout>

<!-- <nz-modal [(nzVisible)]="isVisible" nzTitle="高级设置" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <nz-card>
        <div nz-row>
            <div nz-col nzSpan="12">
                <label>表格宽度：</label>
                <input [(ngModel)]="tablewidth" style="width:80px; border:none; border-bottom:1px solid #1890ff;">
            </div>
            <div nz-col nzSpan="12">
                <label>表格高度：</label>
                <input [(ngModel)]="tableheight" style="width:80px; border:none; border-bottom:1px solid #1890ff;">
            </div>
        </div>
    </nz-card>
    <nz-table #basicTable [nzData]="c_data" [nzFrontPagination]="false" [nzShowPagination]="false" [nzScroll]="{y:'400px'}" nzSize="middle">
        <thead>
            <tr #bt>
                <th nzWidth="100px">
                    列名称
                </th>
                <th nzWidth="100px">是否隐藏</th>
                <th nzWidth="100px">宽度</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data" [draggable]="is_drag" (dragstart)="f_ondragstart($event,data)" (dragover)="f_ondragover($event,data)"
                (drop)="f_ondrop($event,data)">
                <td>{{data.title?data.title:data.field}}</td>
                <td>
                    <nz-switch [(ngModel)]="data.hidden" name="bordered"></nz-switch>
                </td>
                <td>
                    <input draggable="false" [(ngModel)]="data.width" (blur)="onblur($event,data)" (focus)="onfocus($event,data)" style="width:80px; border:none; border-bottom:1px solid #1890ff;">
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-modal> -->