<!--<div class="content__title">
    <h1>Page Name</h1>
</div>-->
<!-- <page-header [title]=""></page-header> -->
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="24">
    <nz-card nzTitle="设置组件" [nzCover]="settingCover" [nzActions]="[settingSave,settingCancel]" [nzExtra]="moduleSelection">
        
    </nz-card>
    <ng-template #moduleSelection>
        <form nz-form [nzLayout]="'inline'">
            <nz-form-item>
              <nz-form-label>
               功能模块
              </nz-form-label>
              <nz-form-control>
                <nz-cascader
                  [ngModelOptions]="{standalone: true}"
                  [class.class123]="true"
                  [nzOptions]="_funcOptions"
                  [(ngModel)]="_funcValue"
                  (nzChange)="_changeModuleValue($event)"
                  (nzSelectionChange)="_onSelectionChange($event)"
                  [nzPlaceHolder]="'请选择功能模块'"
                  [nzExpandTrigger]="'hover'">
                </nz-cascader>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-form-label>
                  模块布局列表
                </nz-form-label>
                <nz-select style="width:120px;"
                  [(ngModel)]="_layoutNameValue"
                  (ngModelChange)="_changeLayoutName($event)"
                  [nzPlaceHolder]="'选择布局名称'"
                  [ngModelOptions]="{standalone: true}">
                  <nz-option
                    *ngFor="let option of _layoutList"
                    [nzLabel]="option.label"
                    [nzValue]="option.value">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
    <ng-template #settingCover >
        <!-- <cn-layout-setting-resolver style="padding:8px" *ngIf="_layoutConfig" [layoutId]="_layoutId"  [config]="_layoutConfig"></cn-layout-setting-resolver> -->
    </ng-template>
    <ng-template #settingSave>
        <span><a (click)="cancel()"><i class="anticon anticon-delete"></i> 取消</a></span>
    </ng-template>
    <ng-template #settingCancel>
      <span><a (click)="save()"><i class="anticon anticon-save"></i> 保存</a></span>
    </ng-template>
  </div>
</div>
