:host {
    ::ng-deep{
        [nz-carousel-content] {
            padding:5px 10px 20px 5px;
            text-align: center;
            background: #364d79;
            color: #000;
            overflow: hidden;
            margin: 0px auto;
            //min-height: 300px;
            width: 100%
        }

        [nz-carousel-content] img {
            display: inline;
            width: 100%;
        }

    }
 }