<input nz-input class="numKeyBoardInput" readonly="readonly" [(ngModel)]="model" />
<table cellspacing="0" cellpadding="0" class="numKeyBoardTable">
  <tr class="numTr">
    <td (click)="SZ($event,1)">1</td>
    <td (click)="SZ($event,2)">2</td>
    <td (click)="SZ($event,3)">3</td>
  </tr>
  <tr class="numTr">
    <td (click)="SZ($event,4)">4</td>
    <td (click)="SZ($event,5)">5</td>
    <td (click)="SZ($event,6)">6</td>
  </tr>
  <tr class="numTr">
    <td (click)="SZ($event,7)">7</td>
    <td (click)="SZ($event,8)">8</td>
    <td (click)="SZ($event,9)">9</td>
  </tr>
  <tr>
    <td (click)="FH($event,'-')" class="delTd">删除</td>
    <td (click)="SZ($event,0)" class="zeroTd">0</td>
    <td (click)="FH($event,'.')" class="dotTd">.</td>
  </tr>
</table>
<div class="fBottom">
  <!-- <div class="saveBtn">提交</div> -->
  <button nz-button nzType="primary" (click)="submit()">提交</button>
  <button nz-button nzType="default" (click)="clear()">清空</button>
  <!-- <div (click)="clear()" class="cancleBtn">清空</div> -->
</div>