<nz-modal [(nzVisible)]="isVisible" [nzWidth]="config.select.nzWidth" [nzTitle]="config.select.title" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <nz-tag *ngFor="let tag of tags_mode; let i = index;" [nzColor]="'blue'"  [nzMode]="'closeable'" (nzAfterClose)="handleClose(tag)">
        {{ sliceTagName(tag) }}
    </nz-tag>
    <hr>
    <cn-bsn-table #table [config]="config.select.selectGridMultiple" [bsnData]="bsnData" [casadeData]="casadeData"  [permissions]="permissions"  (updateValue)="valueChangeByModal($event)"> </cn-bsn-table>
</nz-modal>
<nz-form-label [nzSpan]="config.labelSize">
    {{config.label}}
</nz-form-label>

<nz-form-control [formGroup]="formGroup" [nzSpan]="config.controlSize" style="display:none" > <!-- style="display:none"  type="hidden" -->
    <input nz-input (ngModelChange)="valueChange($event)" formControlName="{{config.name}}"  type="{{config.inputType}}"  placeholder="{{config.placeholder}}"
        [(ngModel)]="_value">
</nz-form-control>

<nz-form-control [nzSpan]="config.controlSize">
        <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
                <!-- <input nz-input style=" padding-right: 30px;" [ngStyle]="{'width':config.width}" type="{{config.inputType}}" [nzSize]="config.size"
                    placeholder="{{config.placeholder}}" [(ngModel)]="_valuetext"> -->
                    <nz-card style=" padding-right: 30px;"  nzType="inner"  [ngStyle]="{'width':config.width}">
                        <nz-tag *ngFor="let tag of tags; let i = index;"  [nzMode]="'closeable'" (nzAfterClose)="handleClosetag(tag)">
                            {{ sliceTagName(tag) }}
                        </nz-tag>
                    </nz-card>
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzSearch [nzType]="'default'" (click)="showModal()">
                    <i nz-icon type="edit" theme="outline"></i>
                </button>
            </ng-template>
</nz-form-control>




