<nz-tabset [nzTabPosition]="config.tabPosition" [nzType]="config.tabType" [nzSize]="config.size" (nzSelectChange)="tabChange($event)">
    <nz-tab *ngFor="let tab of config.tabs" [nzTitle]="header" (nzDeselect)="tabDisactive(tab)" (nzSelect)="tabActive(tab)">
        <ng-container *ngIf="tab.rows;else tabView">
            <div *ngIf="tab.active">
                    <cn-layout-resolver [config]="tab" [initData] = "initData" [tempValue] = "tempValue" [permissions] = "permissions ? permissions : []" ></cn-layout-resolver>
            </div>
        </ng-container>
        <ng-template #tabView>
            <div *ngIf="tab.active">
                <div *ngIf="tab.viewCfg; else tabLayout">
                    <div *ngIf="!tab.handleMapping;else tmpHandleSingle">
                            <cn-component-resolver [config]="tabConfig" *ngFor="let tabConfig of tab.viewCfg" [initData]="initValue" [tempValue] = "tempValue"  [permissions] = "permissions ? permissions : []" ></cn-component-resolver>
                    </div>
                    <ng-template #tmpHandleSingle>
                        <ng-container cnLayoutInnerResolverDirective  [config]="tab"  [initData]="initValue" [tempValue] = "tempValue"  [permissions] = "permissions ? permissions : []" ></ng-container>
                    </ng-template>
                </div>
            </div>
        </ng-template>
        <ng-template #header>
            <span><i nz-icon type="tag" theme="outline"></i> {{tab.title}}</span>
        </ng-template>
    </nz-tab>
</nz-tabset>



