<nz-form-label *ngIf="config.label" [nzSpan]="config.labelSize" [nzRequired]="config.isRequired">
    {{config.label}}
</nz-form-label>
<nz-form-control [formGroup]="formGroup" [nzSpan]="config.controlSize">
    <nz-input-group
        [nzCompact]="false"
        [nzSize]="'default'"
        [nzSuffix]="suffixTemplate"
        [nzAddOnAfter]="suffixButton"
        [nzPrefixIcon]="config.perfix"
        nzSearch 
        >
        <input nz-input
               type="{{config.inputType}}"
               formControlName="{{config.name}}"
               [nzSize]="config.size"
               placeholder="{{config.placeholder}}"
               disabled="{{config.disabled}}"
               [(ngModel)]="model"/>

    </nz-input-group>
    <nz-form-extra *ngIf="config.explain">{{config.explain}}</nz-form-extra>
    <nz-form-explain
        *ngIf="formGroup.get(config.name).dirty && formGroup.get(config.name).errors || formGroup.get(config.name).pending ">
        <ng-container *ngFor="let valid of config.validations">
            <span style="margin-top:3px" *ngIf="formGroup.get(config.name).hasError(valid.validator.toLowerCase())">{{valid.errorMessage}}</span>
        </ng-container>
    </nz-form-explain>
</nz-form-control>
<ng-template #suffixTemplate>
    <i nz-icon type="close-circle" theme="fill"></i>
</ng-template>
<ng-template #suffixButton>
    <button nz-button (click)="getData()" nzType="primary" nzSize="'default'" nzSearch>获取数据</button>
  </ng-template>