<nz-form-label [nzSpan]="config.labelSize" [nzRequired]="config.isRequired">
    {{config.label}}
</nz-form-label>
<nz-form-control [formGroup]="formGroup" [nzSpan]="config.controlSize">
    <nz-input-group
        [nzCompact]="false"
        [nzSize]="'default'"
        [nzPrefixIcon]="config.perfix">
        <input nz-input
               hidden="hidden"
               type="{{config.inputType}}"
               formControlName="{{config.name}}"
               [(ngModel)]="model"/>
        <input nz-input
               hidden="hidden"
               type="hidden"
               formControlName="{{config.textName ? config.textName : config.name}}"
               [(ngModel)]="modelText"/>
        <nz-form-text>
            <!-- <span>{{config.textName? modelText: model}}
            </span> -->
            <span [ngClass]="[config.formatter ? setCellFont(config.textName ? modelText: model, config.formatter):'']">{{config.textName? modelText: model}}</span>
        </nz-form-text>
    </nz-input-group>
</nz-form-control>
